<!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">

        <a href="#" class="navbar-brand"><img style="height:35px "  src="/LOGO1.png" ></a>
        
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/rentals/cityProvince" class="nav-item nav-link">Rental</a>
                
            </div>
            {{#if user}}
            <div class="navbar-nav ms-auto ">
                <a href="/logout" class="nav-item nav-link">Logout</a>
            </div>
            {{else}}
            <div class="navbar-nav ms-auto ">
                <a href="/user/sign-up" class="nav-item nav-link">Register</a>
                <a href="/user/log-in" class="nav-item nav-link">Login</a>
            </div>
            {{/if}}
            
        </div>
        <span class="navbar-text">
<<<<<<< HEAD
            {{#if user}}
                
                {{#if user.userType}}
                    <a href="/rentals/list">Welcome home clerk: {{user.name}} &nbsp&nbsp</a>
                {{else}}
                    <a href="/cart">Welcome: {{user.name}}&nbsp&nbsp</a>
=======
                <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
        </span>
        <span class="navbar-text">
            {{#if user}}
                {{#if user.userType}}
                    <a href="/cart">Welcome home clerk: {{user.name}} </a>
                {{else}}
                    <a href="/rentals/list">Welcome: {{user.name}} </a>
>>>>>>> 27e611deb30175551cb3d8b33f1e93e157ec766f
                {{/if}}
            {{/if}}
        </span>

        <span class="navbar-text">
                <a href="/cart"><i class="fa fa-shopping-cart"></i></a>
        </span>
        
    </div>
</nav>